body
{
    background-color: rgb(7, 13, 44);
}

img { 
	transition: all .4s ease-in-out; 
}
img:hover { 
    	transform: scale(1.5); 
    }

.grow {
    transition: all .2s ease-in-out; 
}
.grow:hover {
    transform: scale(1.1); 
}
img:hover {
    transform: scale(1.3);
}
